// Colors
$black:                #000000 !default;
$white:                #ffffff !default;
$transparent-grey:     rgba(0, 0, 0, 0.1) !default;
$grey:                 #e0e0e0 !default;
$dark-grey:            #bababa !default;
$charcoal:             #303030 !default;

// $primary:              #9745E2 !default;
// $secondary:            #03E95C !default;
// $success:              #8BC34A !default;
// $info:                 #66BB6A !default;
// $infoAlt:              #7E57C2 !default;
// $warning:              #FFCA28 !default;
// $danger:               #F44336 !default;
// $text:                 #3D4051 !default;
// $disabled:               lighten($text, 62%) !default;